name: Node CI

on:
  push:
    branches:
      - main
      - next
  pull_request:
    branches:
      - '**'
  merge_group:

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

permissions:
  contents: read # to fetch code (actions/checkout)

jobs:
  lint-and-typecheck:
    name: ESLint
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # 5.0.1
      - uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903 # 6.0.0
        with:
          node-version: lts/*
          cache: yarn
      - name: install
        run: yarn
      - name: build
        run: yarn build
      - name: build types
        run: yarn build-types
      - name: run eslint
        run: yarn lint
      - name: run prettier
        run: yarn prettier:check
  test-node:
    name: Test on Node.js v${{ matrix.node-version }}
    strategy:
      fail-fast: false
      matrix:
        node-version: [18.x, 20.x, 22.x, 24.x]
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # 5.0.1
        with:
          persist-credentials: false
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903 # 6.0.0
        with:
          node-version: ${{ matrix.node-version }}
          cache: yarn
      - name: install
        run: yarn
      - name: build
        run: yarn build
      - name: build types
        run: yarn build-types
      - name: run tests
        run: yarn test
  test-os:
    name: Test on ${{ matrix.os }} using Node.js LTS
    strategy:
      fail-fast: false
      matrix:
        os: [windows-latest, macOS-latest]
    runs-on: ${{ matrix.os }}

    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # 5.0.1
        with:
          persist-credentials: false
      - uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903 # 6.0.0
        with:
          node-version: lts/*
          cache: yarn
      - name: install
        run: yarn
      - name: build
        run: yarn build
      - name: build types
        run: yarn build-types
      - name: run tests
        run: yarn test
