name: Node CI

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - '**'

jobs:
  lint-and-typecheck:
    name: ESLint
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2.3.4
      - uses: actions/setup-node@v2.4.0
        with:
          node-version: 14.x
          cache: yarn
      - name: install
        run: yarn
      - name: build
        run: yarn build
      - name: run eslint
        run: yarn lint
      - name: run prettier
        run: yarn prettier:check
  test-node:
    name: Test on Node.js v${{ matrix.node-version }}
    strategy:
      fail-fast: false
      matrix:
        node-version: [10.x, 12.x, 14.x, 16.x]
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2.3.4
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v2.4.0
        with:
          node-version: ${{ matrix.node-version }}
          cache: yarn
      - name: install
        run: yarn
      - name: build
        run: yarn build
      - name: run tests
        run: yarn test
        env:
          CI: true
  test-os:
    name: Test on ${{ matrix.os }} using Node.js LTS
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, windows-latest, macOS-latest]
    runs-on: ${{ matrix.os }}

    steps:
      - uses: actions/checkout@v2.3.4
      - uses: actions/setup-node@v2.4.0
        with:
          node-version: 14.x
          cache: yarn
      - name: install
        run: yarn
      - name: build
        run: yarn build
      - name: run tests
        run: yarn test
        env:
          CI: true
